.indexBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  min-height: 50vh;
  margin: 50;
}
p {
  color: pink;
  font-weight: bold;
  font-style: italic;
  font-size: larger;
}
a {
  color: turquoise;
  font-weight: bold;
}

.learnBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 50;
  background-color: rgb(145, 186, 179);
}

.surprise {
  background-color: aqua;
  border-radius: 10px;
  border-width: 0px;
  margin-top: 20px;
}
.surprise:hover {
  background-color: darkcyan;
  transform: scale(1.5);
}

img {
  width: 300px;
  height: auto;
}
